---
title: Games
description: The Posts List display is controled in /src/_data/structure.js and ships with 4 options.
layout: page
eleventyNavigation:
  key: main
  title: Games
  order: 3
seo:
  title: Games We Made
  description: 
---

<hr class="mt-8">
<br/>

<div style="display:flex; justify-content:space-evenly;width: 60vw;align-items: center;">
  <div style="height:50vh;width: 60%;">
    <h3>Inhabit</h3>
    <p >
    you wake up. You’ve barely left your room in days, your place is a mess.
    You've neglected any form of self care for over a week. But today is different! Today’s the day you finally get something done. 
    Make your way around your home and surrounding areas, practicing healthy habits and exploring the world in this open ended slice of life puzzle game.
  </p>
  </div>
  <img src="/assets/images/inhabit/inhabit.png" style="height:50vh;float:left;"/>
</div>